@model Autonomize.Models.Usuario

@{
    ViewData["Title"] = "Criar Usuário";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<h1 class="text-center"><strong>Cadastro</strong></h1>

<hr />
<div class="row justify-content-center ">
    <div class="col-md-6 col-lg-4">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="form-group">
            <label asp-for="NomeUsuario" class="form-label">Nome</label>
            <input asp-for="NomeUsuario" class="form-control" placeholder="Cadastre o Nome de Usuário" />
            <span asp-validation-for="NomeUsuario" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EmailUsuario" class="form-label">Email</label>
            <input asp-for="EmailUsuario" class="form-control" placeholder="Cadastre o Email"/>
            <span asp-validation-for="EmailUsuario" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Senha" class="form-label">Senha</label>
            <input asp-for="Senha" class="form-control" type="password" placeholder="Cadastre a Senha"/>
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TipoUsuario" class="form-label">Perfil</label>
            <select asp-for="TipoUsuario" class="form-select">
                <option value="">Selecione</option>
                <option value="admin">admin</option>
                <option value="comum">comum</option>
            </select>
            <span asp-validation-for="TipoUsuario" class="text-danger"></span>
        </div>
    <br/>
    <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-success " />
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
    </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
