@model Autonomize.Models.Usuario
@using System.Globalization

@{
    ViewData["Title"] = "Detalhes";
    var tipoFormatado = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.TipoUsuario.ToLower());
}

<h2 class="mb-4">Detalhes do Usuário</h2>

<div class="card p-4 shadow-sm mb-4">
    <dl class="row">
        <dt class="col-sm-3">Nome</dt>
        <dd class="col-sm-9">@Model.NomeUsuario</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.EmailUsuario</dd>

        <dt class="col-sm-3">Senha</dt>
        <dd class="col-sm-9">********</dd> 

        <dt class="col-sm-3">Perfil</dt>
        <dd class="col-sm-9">@tipoFormatado</dd>
    </dl>

    <div class="d-flex justify-content-start gap-2">
        <a asp-action="Edit" asp-route-id="@Model.IDUsuario" class="btn btn-primary w-25">Editar</a>
        <a asp-action="Index" class="btn btn-secondary w-25">Voltar</a>
    </div>
</div>
