@{
    ViewData["Title"] = "Autonomize";
}

<div class="text-center">
    <h1 class="display-4">Autonomize</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
