@{
    ViewData["Title"] = "Sobre";
}
<h1>Sobre o este projeto</h1>


<p>
Somos alunos do segundo eixo do curso de Análise e Desenvolvimento de Sistemas da PUC Minas, e desenvolvemos este projeto com o objetivo de oferecer uma solução prática e acessível para pequenos e médios empreendedores que precisam de um sistema ERP chamado Autonomize que busca ser eficiente para otimizar o dia-dia da gestão de seus negócios.
Com o apoio e orientação do professor Cláudio Faria, que nos guiou ao longo de todo o processo, conseguimos transformar nossas ideias em um sistema funcional, com foco em simplicidade, usabilidade e utilidade.</p>
<br/>
<p>Utilizamos a linguagem de programação <strong>C#</strong> junto da framework <strong>ASP.Net Core</strong> para construir toda a lógica e modelagem da aplicação em um banco de dados, estruturando as principais funcionalidades do nosso sistema, como um ambiente para <strong>controle de produtos</strong>, <strong>estoques</strong> juntamente das funcionalidades de <strong>cadastro de clientes</strong> e <strong>vendas.</strong></p>
<p>Nosso principal objetivo foi desenvolver um sistema intuitivo, capaz de atender às necessidades reais de quem está no dia a dia do comércio e da gestão, mesmo sem conhecimentos técnicos avançados pois acreditamos que a tecnologia pode ser uma aliada poderosa na rotina dos empreendedores, especialmente aqueles que estão começando e enfrentam desafios diários com gestão, organização e controle de informações.</p> Este é apenas o início de uma trajetória que busca transformar conhecimento acadêmico em soluções reais e acessíveis.

