@model Autonomize.Models.TiposProduto

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<h1 class="text-center"><strong>Adicionar Tipo de Produto</strong></h1>
<hr />
<div class="row justify-content-center ">
    <div class="col-md-6 col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" placeholder="Digite o Tipo de Produto que deseja cadastrar." />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-success " />
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
