@model Autonomize.Models.Produto

@{
    ViewData["Title"] = "Criar Produto";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<h1 class="text-center"><strong>❑ Adicionar produto</strong></h1>

<hr />
<div class="row justify-content-center ">
    <div class="col-md-6 col-lg-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" placeholder="Digite o nome do produto" autofocus />
                <span asp-validation-for="Nome" class="text-dark"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeEstoque" class="control-label"></label>
                <input asp-for="QuantidadeEstoque" class="form-control" placeholder="Quantidade inicial do estoque" />
                <span asp-validation-for="QuantidadeEstoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" placeholder="Descrição do produto" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoCompra" class="control-label"></label>
                <input asp-for="PrecoCompra" class="form-control" placeholder="Digite o preço de compra" />
                <span asp-validation-for="PrecoCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoVenda" class="control-label"></label>
                <input asp-for="PrecoVenda" class="form-control" placeholder="Digite o preço de venda" />
                <span asp-validation-for="PrecoVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiposProdutoId" class="control-label"></label>
                <select asp-for="TiposProdutoId" class ="form-control" asp-items="ViewBag.TiposProdutoId"></select>
            </div>
            <div>
                <a asp-controller="TiposProdutos" asp-action="Index" class="btn btn-info">Criar novo tipo de produto</a>
            </div>
            <div class="form-check form-switch">
                <label class="form-check-label" asp-for="Ativo">
                    <input class="form-check-input" asp-for="Ativo" role="switch" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-success " />
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
