@model Autonomize.Models.Relatorio

@{
    ViewData["Title"] = "Editar Relatório";
}

<h2 class="mb-4">Editar Relatório</h2>

    <div class="card p-4 shadow-sm mb-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TipoItem" class="control-label"></label>
                <select asp-for="TipoItem" class="form-control" asp-items="Html.GetEnumSelectList<TiposItem>()"></select>
                <span asp-validation-for="TipoItem" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TipoAlteracao" class="control-label"></label>
                <select asp-for="TipoAlteracao" class="form-control" asp-items="Html.GetEnumSelectList<TiposAlteracao>()"></select>
                <span asp-validation-for="TipoAlteracao" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TipoRelatorio" class="control-label"></label>
                <select asp-for="TipoRelatorio" class="form-control" asp-items="Html.GetEnumSelectList<TiposRelatorio>()"></select>
                <span asp-validation-for="TipoRelatorio" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DataFinal" class="control-label"></label>
                <input asp-for="DataFinal" class="form-control" />
                <span asp-validation-for="DataFinal" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
