@model Autonomize.Models.IncrementoEstoque

@{
    ViewData["Title"] = "Edit";
}

<h2 class="mb-4">Editar Incremento</h2>

<div class="card p-4 shadow-sm mb-4">    
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="TipoOperacao" class="control-label"></label>
            <select asp-for="TipoOperacao" class="form-control" asp-items="Html.GetEnumSelectList<TipoOperacaoEstoque>()"></select>
                <span asp-validation-for="TipoOperacao" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ProdutoId" class="control-label"></label>
                <select asp-for="ProdutoId" class="form-control" asp-items="ViewBag.ProdutoId"></select>
                <span asp-validation-for="ProdutoId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="MotivoOperacao" class="control-label"></label>
            <select asp-for="MotivoOperacao" class="form-control" asp-items="Html.GetEnumSelectList<MotivoOperacaoEstoque>()"></select>
                <span asp-validation-for="MotivoOperacao" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Observacao" class="control-label"></label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
              <div class="d-flex justify-content-between">
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    <input type="submit" value="Salvar" class="btn btn-primary" />
</div>
        </form>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
